- if user_signed_in?
  = render 'pages/partials/logged_in'
- else
  = render 'pages/partials/landing'

.modal-fade-screen
  .modal-inner
    .modal-close{for: 'modal-1'}
    .modal-content

  :javascript
    $(function() {
      var pusher = new Pusher('f74ddd7f3eae987007b6');
      console.log(pusher);
      var channelName = 'private-conversation.' + "#{current_user ? current_user.id.to_s : nil}";
      var channel = pusher.subscribe(channelName);
      channel.bind('new_message', function(data) {
        console.log(data.conversation_id)
        console.log(data.message)
        console.log(data.from)
        console.log(data.create_time)
        console.log(data.avatar_url)
        var addOn = "<div class='message-inner-content'><img src=" + data.avatar_url + "class='message-sender-profile' style='width: 50px; height: 50px;'>";
        addOn += "<p class='message-body'> " + data.message + "</p></div>";
        $('.message-inner-content-holder').append(addOn);
        $('.message-inner-content-holder').scrollTop($('.message-inner-content-holder').prop('scrollHeight') - 130);

        $('.glyphicon-envelope').css('color', '#78baa1');
        $('.glyphicon-envelope').addClass('pulse');

      });
    });
