- if user_signed_in?
  = render 'pages/partials/logged_in'
- else
  = render 'pages/partials/landing'

.modal-fade-screen
  .modal-inner
    .modal-close{for: 'modal-1'}
    .modal-content

%script{src: '/assets/filestyle.js'}
:javascript
  $(function() {
    $(":file").filestyle({buttonText: " Upload avatar", buttonBefore: true});

    var pusher = new Pusher('f74ddd7f3eae987007b6');
    console.log(pusher);
    var channelName = 'private-conversation.' + $('.top-content-wrapper').data('user');
    var channel = pusher.subscribe(channelName);

    channel.bind('game_request', function(data) {
      console.log(data.from, data.invitation, data.sender);
      $("body").addClass("modal-open");
      $('.modal-content').html("#{escape_javascript(render 'invitation_reception')}");
      $('.game-notification').children('p').first().append(" " + data.sender);
      $('.modal-fade-screen').css({'opacity':1, 'visibility': 'visible'});
      $('#player2-field').val(data.from);
      $('#invitation-field').val(data.invitation);

      $(".modal-fade-screen, .modal-close").on("click", function() {
        $("body").removeClass("modal-open");
        $(".modal-fade-screen").css('visibility', 'hidden');
      });

      $(".modal-inner").on("click", function(e) {
        e.stopPropagation();
      });
    });

    channel.bind('new_message', function(data) {
      console.log(data.conversation_id)
      console.log(data.message)
      console.log(data.from)
      console.log(data.create_time)
      console.log(data.avatar_url)

      $('.glyphicon-envelope').css('color', '#78baa1');
      $('.glyphicon-envelope').addClass('color-change');
      $('.received-messages').append('<li><a href="/conversations/' +
      data.conversation_id + '" class="user-link" style="font-size: 14px; text-align:center;"> New Message from ' +
      data.from + '</a></li>');
    });


    channel.bind('game_acceptance', function(data) {
      console.log(data.game);
       window.location = '/games/' + data.game;

    });
    // $('#sign-up-button').click(signUpButton());
  });
