<% if @messages.any? %>
  <% @messages.compact.each do |msg| %>
    <% if msg.body %>
      <div class="message-inner-content">
        <%= image_tag msg.avatar_url, class: 'message-sender-profile', style: 'width: 50px;' %>
        <p class="message-body"> <%= msg.body %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
