- if @messages.any?
  - @messages.compact.each do |msg|
    - if msg.body
      .message-inner-content
        = image_tag msg.avatar_url, class: 'message-sender-profile', style: 'width: 50px;'
        %p.message-body #{msg.body}
      %p.creation-time #{time_ago_in_words(msg.created_at)} ago
