.games-show-wrapper
  .first-row
    .user-profiles
      .player1-profile
      .player2-profile
    .board-wrapper
    .captured-pieces
      .captured-black
      .captured-white
    .notation-wrapper
  .message-wrapper
