= render 'pages/partials/header'

.top-content-wrapper
  .left-side-wrapper
    .message-wrapper
    .user-info-wrapper
      .profile-wrapper
      .games-wrapper
  .right-side-wrapper
    .search-wrapper
.mentor-carousel-wrapper
.footer
