.search-wrapper
  .search-header

    %i.glyphicon.glyphicon-bishop
    %p{style: 'padding-right: 172px;'} Search Users
    %div{style: 'clear: both;'}

  %form.search-bar{role:'search', action: '/learners/search', method: 'get', data: {remote: true }}
    = text_field :search, params[:search], class: 'form-control', placeholder: 'search mentors', type: 'search', id: 'mentor-search-bar'
    %button{type: 'submit', id: 'search-submit', style: 'display: inline-block;'}
      %img{src: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png'}
    .dropdown
      .dropdown-container
        %p.dropdown-button.mentor-search-button Search By
        %ul.dropdown-menu.dropdown-select.mentor-search-menu
          %li Official Ranking
          %li User Ranking
          %li All
          %li Price
    .table-wrapper
      %table.tables.learner-search-wrapper
        %tbody{id: 'mentor-search-table'}
          - @learners.each do |learner|
            %tr
              %td.grey-highlight
                <a data-remote="true" href='/mentors/#{learner.id}'> #{learner.name} <span class="badge-success"> #{learner.official_ranking} </span> </a>
