.search-wrapper
  .search-header

    %i.glyphicon.glyphicon-bishop
    %p{style: 'padding-right: 172px;'} Search Users
    %div{style: 'clear: both;'}

  %form.search-bar{role:'search'}
    = text_field :search, params[:search], class: 'form-control', placeholder: 'search mentors', type: 'search', id: 'mentor-search-bar'
    %button{type: 'submit', id: 'search-submit', style: 'display: inline-block;'}
      %img{src: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png'}
    .dropdown
      .dropdown-container
        %p.dropdown-button.mentor-search-button Search By
        %ul.dropdown-menu.dropdown-select.mentor-search-menu
          %li Official Ranking
          %li User Ranking
          %li All
          %li Price
    .table-wrapper
      %table.tables
        %tbody{id: 'mentor-search-table'}
          - @users.each do |mentor|
            - if mentor.class != Mentor
              %tr
                %td.grey-highlight
                  <a data-remote="true" href='/mentors/#{mentor.id}'> #{mentor.name} <span class="badge-success"> #{mentor.official_ranking} </span> </a>
