@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);

/* typography */

$primary-font: "OpenSans", Helvetica, Arial, sans-serif;
$secondary-font: "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
$landing-font: 'Pacifico', cursive;
$landing-sub-font: 'Raleway', sans-serif;

/* colors */

$light-grey: #e4e4e4;
$aqua-green: #78baa1;
$between-green: #609581;
$dark-green: #548271;
$light-brown: #827f62;
$darker-brown: #9B9981;
$dark-red: #8b4441;
$off-black: rgba(57, 61, 52, 0.82);
$almost-black: #333;
$grey: #aaa;
$action-color: #477DCA !default;
