@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'variables';
@import 'landing';
@import 'bootstrap';
@import 'modal';
@import 'forms';
@import 'navbar';
@import 'home_page';
@import 'tables';
@import 'chessboard';
@import 'dropdown';
@import 'gallery';
@import 'jcrop';
@import 'mentor_request';
@import 'messages';
@import 'requests';


//= require jcrop
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  color: white;
}
a, a:hover {
  text-decoration: none;
}

a, p {
  font-family: $secondary-font;
}
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
