@import 'bourbon';
@import 'neat';
@import 'variables';
@import 'landing';
@import 'bootstrap';
@import 'modal';
@import 'forms';
@import 'navbar';
@import 'home_page';
@import 'tables';
@import 'chessboard';
@import 'dropdown';
@import 'gallery';
@import 'jcrop';

//= require jcrop

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  color: white;
}
a, a:hover {
  text-decoration: none;
}
a, p {
  font-family: $secondary-font;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
