// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.games-show-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: #f7f7f7;
  overflow: hidden;

  .first-row {
    background: #f7f7f7;

    .user-profiles {
      margin-top: 5px;
      float: left;
      width: 230px;
      height: 500px;
      background: #f7f7f7;

      .player-profile {

        .player-header {
          display: flex;
          height: 46px;
          background: $aqua-green;

          .glyphicon-user {
            float: left;
            top: 0px;
            left: 0px;
            font-size: 1.8em;
            background: $dark-green;
            padding: 10px;
            color: white;
            width: 60px;
          }

          p {
            float: left;
            font-size: 1em;
            color: white;
            background: #78baa1;
            margin-top: 0px;
            padding-left: 20px;
            padding-top: 3.5px;
            padding-bottom: 3px;
            padding-right: 42%;
            vertical-align: middle;
          }
          span.glyphicon.glyphicon-minus {
            display: inline-block;
            background: $aqua-green;
            font-size: 1.8em;
            padding: 10px;
            color: white;
            width: 45px;
            top: 0px;
            left: -8px;
          }
        }
      }
      .player-content {
        p {
          padding: 10px;
        }
      }
      .time-wrapper {
        height: 55px;
        width: 72%;
        background: $dark-red;
        margin: auto;
        border-radius: 3px;
        margin-top: 10px;
        color: white;
        font-size: 34px;
        font-weight: 300;
        text-align: center;
      }

      #player1-profile {
        display: block;
        height: 50%;
        background: #e6e6e6;

      }
      #player2-profile {
        display: block;
        height: 50%;
        background: #e6e6e6;

      }
    }
    .board-wrapper {
      margin-top: 5px;
      margin-left: 10px;
      width: 550px;
      height: 550px;
      background: #e6e6e6;
      clear: both;
      display: inline-block;

    }
    .captured-pieces {
      width: 170px;
      height: 550px;
      background: #f7f7f7;
      display: inline-block;
      vertical-align: bottom;

      #captured-black {
        margin-top: -5px;
      }

      .captured {
        height: 47.6%;
        margin-bottom:10px;
        display:block;
        clear: both;
        background: #efefef;

        .captured-header {
          display: flex;
          height: 46px;
          background: $aqua-green;

          span.glyphicon.glyphicon-tower {
            float: left;
            top: 0px;
            left: 0px;
            font-size: 1.5em;
            background: #548271;
            padding: 10px;
            color: white;
            width: 115px;
          }
          p {
            float: left;
            font-size: 1em;
            text-align: center;
            color: white;
            background: #78baa1;
            margin-top: 0px;
            padding-left: 20px;
            padding-top: 4.5px;
            padding-bottom: 41px;
            padding-right: 42%;
          }
          span.glyphicon.glyphicon-minus  {
            display: inline-block;
            top: 0px;
            left: -14px;
            font-size: 1.8em;
            background: $aqua-green;
            padding: 10px;
            color: white;
            width: 45px;
          }
        }
      }
      #captured-white {
      }
    }
    .notation-wrapper {
      margin-top: 5px;
      height: 400px;
      width: 265px;
      background: #e6e6e6;
      position: absolute;
      right: 10px;
      top: 63px;
      .table-wrapper {
        height: 372px;
        overflow-y: auto;
      }

      .notation-header {
        display: flex;
        height: 46px;

        span.glyphicon.glyphicon-bishop {
          float: left;
          top: 0px;
          left: 0px;
          font-size: 1.8em;
          background: $dark-green;
          padding: 10px;
          color: white;
          width: 45px;
        }
        p {
          float: left;
          font-size: 1.4em;
          color: white;
          background: $aqua-green;
          margin-top: 0px;
          padding-left: 20px;
          padding-top: 10.5px;
          padding-bottom: 35px;
          padding-right: 42%;
          width: 220px;
        }
        span.glyphicon.glyphicon-minus  {
          display: inline-block;
          top: 0px;
          left: 0px;
          font-size: 1.8em;
          background: $aqua-green;
          padding: 10px;
          color: white;
          width: 45px;
        }

        .notation-holder {
          overflow-y: auto;
        }
      }
    }
  }
  .message-wrapper {}
}

.game-over {
  width: 500px;
  height: 150px;
  background: radial-gradient(#558372, #78baa1);
  color: white;
  z-index: 100;
  opacity: 0.9;
  top: 10px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  margin-left: 350px;
}

.video-box {
  display: block;
  position: absolute;
  top: 66px;
  left: 20px;
  width: 399px;
  height: 345px;
  background: black;
  .video-controls {
    position: fixed;
    bottom: 216px;
    text-align: center;
    padding: 10px;
    background: #e6e6e6;
    width: 399px;
  }
  .button {
    @include button(flat, $aqua-green);
    color: white;
  }
}
.video-box-self {
  width: 191px;
  height: 133px;
  position: absolute;
  bottom: 51px;
  left: 24px;
  background: black;
}
