// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.games-show-wrapper {
  padding: 10px;

  .first-row {
    background: #f7f7f7;

    .user-profiles {
      float: left;
      width: 230px;
      height: 500px;
      background: $aqua-green;

      .player-profile {

        .player-header {
          display: flex;
          height: 46px;

          .glyphicon-user {
            float: left;
            top: 0px;
            left: 0px;
            font-size: 1.8em;
            background: $dark-green;
            padding: 10px;
            color: white;
            width: 45px;
          }

          p {
            float: left;
            font-size: 1.4em;
            color: white;
            background: $aqua-green;
            margin-top: 0px;
            padding-left: 20px;
            padding-top: 10.5px;
            padding-bottom: 35px;
            padding-right: 42%;
          }
          span.glyphicon.glyphicon-minus {
            display: inline-block;
            background: $aqua-green;
            font-size: 1.8em;
            padding: 10px;
            color: white;
            width: 45px;
            top: 0px;
            left: 0px;
          }
        }
      }


      #player1-profile {
        display: block;
        height: 50%;
        background: grey;

      }
      #player2-profile {
        display: block;
        height: 50%;
        background: $dark-green;

      }
    }
    .board-wrapper {
      margin-left: 10px;
      width: 550px;
      height: 550px;
      background: blue;
      clear: both;
      display: inline-block;

    }
    .captured-pieces {
      width: 170px;
      height: 550px;
      background: red;
      display: inline-block;

      #captured-black {
        background: black;
      }

      .captured {
        height: 50%;

        .captured-header {
          display: flex;
          height: 46px;

          span.glyphicon.glyphicon-tower {
            float: left;
            top: 0px;
            left: 0px;
            font-size: 1.8em;
            background: $dark-green;
            padding: 10px;
            color: white;
            width: 45px;
          }
          p {
            float: left;
            font-size: 1.4em;
            color: white;
            background: $aqua-green;
            margin-top: 0px;
            padding-left: 20px;
            padding-top: 10.5px;
            padding-bottom: 35px;
            padding-right: 42%;
          }
          span.glyphicon.glyphicon-minus  {
            display: inline-block;
            top: 0px;
            left: 0px;
            font-size: 1.8em;
            background: $aqua-green;
            padding: 10px;
            color: white;
            width: 45px;
          }
        }
      }
      #captured-white {
        background: #777;
      }
    }
    .notation-wrapper {
      height: 400px;
      width: 265px;
      background: orange;
      float: right;

      .notation-header {
        display: flex;
        height: 46px;

        span.glyphicon.glyphicon-bishop {
          float: left;
          top: 0px;
          left: 0px;
          font-size: 1.8em;
          background: $dark-green;
          padding: 10px;
          color: white;
          width: 45px;
        }
        p {
          float: left;
          font-size: 1.4em;
          color: white;
          background: $aqua-green;
          margin-top: 0px;
          padding-left: 20px;
          padding-top: 10.5px;
          padding-bottom: 35px;
          padding-right: 42%;
        }
        span.glyphicon.glyphicon-minus  {
          display: inline-block;
          top: 0px;
          left: 0px;
          font-size: 1.8em;
          background: $aqua-green;
          padding: 10px;
          color: white;
          width: 45px;
        }
      }
    }
  }
  .message-wrapper {}
}
