// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.request-form-holder {
  padding-left: 80px;
  padding-right: 80px;

  .mentor-show-wrapper {
    width: 500px;
    @include outer-container;

    .top-wrapper {
      @include row(table);
      height: 125px;
      background: #F9F9F9;
      position: relative;
      display: flex;
      padding-top: 15px;

        .photo-wrapper {
          float: left;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background: $aqua-green;
          border: 2px solid #e6e6e6;
          margin-right: -1px;
          border-right: none;
          height: 100%;
          margin-top: 5px;
          width: 159px;

          .round-photo-wrapper {
            width: 180px;

            img {
              border-radius: 50%;
              border: 2px solid $aqua-green;
            }
          }
        }
        .greeting-wrapper {
          float: left;
          margin-top: 5px;
          padding-right: 35px;
          height: 100%;
          background: $aqua-green;
          border: 2px solid #e6e6e6;
          border-left: none;
          width: 100%;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 7px;

          h2 {
            margin-top: 5px;
            color: white;
            font-weight: 300;
          }

          p {
            color: white;
          }
        }
      }
    }

  h1, p, h2, label {
    color: #333;
    font-weight: 400;
  }
  .button-stripe.button {
    font-weight: 400;
  }
  .button {
    @include button(shiny, $action-color);
  }
  .stripe-form-wrapper {
    text-align: center;
    padding:20px;

    input.stripe {
      height: 40px;
      text-align: center;
      width: 300px;
      font-size: 21px;
    }
    input.stripe.half {
      width: 100px;
    }
    input.stripe.checkbox {
      width: 15px;
      text-align: left;
      height: 15px;
    }

    .stripe-button {
      @include button(flat, $action-color);
    }
  }

  .submit-button {
    visibility: hidden;
  }
  .credit-button {
    @include button(flat, $action-color);
  }
  .button-stripe {
    @include button(shiny, $action-color);
  }
  .red {
    color: red;
  }
  .green-highlight, .green-highlight:hover {
    background-color: $aqua-green;
  }
  .request-table {
    thead {
      tr th {
        border-left: 1px solid #e6e6e6;
      }
    }
    tbody {
      tr {
        td.click-date {
          width:135px;
          height: 53px;
        }
        td {
          border-left: 1px solid #e6e6e6;
          .glyphicon.glyphicon-ok-circle {
            font-size: 2em;
            color:white;
            text-align: center;
            width: 100px;
          }
        }
        td.grey-highlight:hover {
          background-color: #EFF7F4;
        }
      }
    }
  }
}
.request-wrapper {
  hr {
    padding-bottom: 0px; 
  }
  .mentor-info-wrapper {
    float: right;
    background: #e4e4e4;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 3px;
    margin-left: 40px;
    height: 128px;
    p {
      margin-top: -4px;
    }
  }
  .request-message {
    height: 200px;
  }
  .game-notification {
    padding-top: 5px;
    .tables {
      padding: 16px;
      tbody {
        th {
          height: 30px;
          font-weight: 300;
          border: 1px solid #e6e6e6;
        }
      }
    }
  }
  .button-wrapper {
    width: 100%;
    .button {
      font-size: 1em;
      position: relative;
      display: inline-block;
      left: 0;
      top: 0;
      left: 0;
    }
    #message-button {
      padding: 14px 26px;
    }
  }
}
.back-button {
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: none;
}

// animate.css for ok-circle glyphicon
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.bounceIn {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
